.CarouselS {
  display: grid;
  grid-template-columns: 20px auto 20px;
  gap: var(--gap);

  overflow: hidden;
}

.cardsS {
  display: flex;
  gap: var(--gap);

  overflow: hidden;
}

.card {
  display: grid;
  gap: var(--gap);

  border: 1px solid #888;

  min-width: 60vw;
}

.image {
  height: 50dvh;
}

.text {
  margin: 15px 10px;

  max-height: 70px;

  overflow: hidden;
}
